fastapi==0.121.2
pandas==2.3.3
uvicorn[standard]==0.38.0
pymysql==1.1.2
pyyaml==6.0.3
sqlalchemy[asyncio]==2.0.34
python-multipart==0.0.20
cryptography==46.0.3
httpx==0.28.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1